﻿@model IEnumerable<HealthProject.Models.Parameter>

<h2>Добавление показателя</h2>

<form name="parameterForm" method="post" onsubmit="return check_parameter_name()">
    <p  style="margin-bottom:0">Существующие показатели</p>
    @Html.DropDownList("existParametersSelect", new SelectList(Model, "Name", "Name"))

    <p style="margin-top:10px;margin-bottom:0">Новый показатель</p>
    <input name="nameNewParameter" type="text" value=""  maxlength="15"/>
    <input type="submit" value="Добавить показатель" />
</form>

<script type="text/javascript">
    function check_parameter_name() { 
        var newParameterName = parameterForm.nameNewParameter.value;
        var parametersSelect = parameterForm.existParametersSelect;
        if (newParameterName.trim().length == 0) {
            alert('Показатель не может быть пустым');
            return false;
        }
        for (let i = 0; i < parametersSelect.length; i++) {
            if (parametersSelect.options[i].value.toLowerCase() === newParameterName.trim().toLowerCase()) {
                alert('Такой показатель уже есть');
                return false;              
            }
        }     
        return true;
    }
</script>
