﻿@model HealthProject.Models.UserParameter

<!doctype html>
<html lang="en">
<head>
    <script src="~/js/jquery.min.js"></script>
</head>

<body class="page_bg">
    <form method="post">
        <h2>Добавление записи</h2>
        <table>
            <tr>
                <th>Показатель</th>
                <th>Значение</th>
                <th>Дата</th>
                <th>Источник</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <input id="userParameterId" name="userParameterId" type="hidden" value="@Model.Id" />
                    @Html.DisplayFor(m => m.UnitParameter.ParameterNameUnitName)
                </td>
                <td>
                    <input type="number" step="any" id="Value" name="Value" value=0>
                </td>
                <td>
                    <input id="Date" name="Date" type="datetime-local">

                </td>
                <td>
                    Веб приложение
                </td>
            </tr>
        </table>
        <input type="submit" value="Добавить">
    </form>
   <script type="text/javascript">
       function setLocaleDateTime() {
           var d = new Date();
           var formatNow = (d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" +
    ("0" + d.getDate()).slice(-2)) + "T" + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
           $("#Date").val(formatNow);
       }
       setLocaleDateTime();
   </script>
</body>
</html>

