﻿@model IEnumerable<HealthProject.Models.System>

<h2>Добавление подписки на систему</h2>
<p>Выберите систему на которую хотите подписаться</p>
<form method="post">
    <p>
        Система:
        @Html.DropDownList("systemId", new SelectList(Model, "Id", "Name"))
    </p>
    <p><input type="submit" value="Добавить"></p>
</form>