﻿@model IEnumerable<HealthProject.Models.Unit>

<h2>Добавление единицы измерения показателя</h2>

<form name="unitForm" method="post" onsubmit="return check_unit_name()">
    <p style="margin-bottom:0">Существующие единицы измерения</p>
    @Html.DropDownList("existUnitsSelect", new SelectList(Model, "Name", "Name"))

    <p style="margin-top:10px;margin-bottom:0">Новая единица измерения</p>
    <input name="nameNewUnit" type="text" value="" maxlength="15" />
    <input type="submit" value="Добавить ед. измерения" />
</form>

<script type="text/javascript">
    function check_unit_name() {
        var newUnitName = unitForm.nameNewUnit.value;
        var unitsSelect = unitForm.existUnitsSelect;
        if (newUnitName.trim().length == 0) {
            alert('Единица измерения не может быть пустой');
            return false;
        }
        for (let i = 0; i < unitsSelect.length; i++) {        
            if (unitsSelect.options[i].value.toLowerCase() === newUnitName.trim().toLowerCase()) {
                alert('Такая единица измерения уже есть');
                return false;
            }
        }
        return true;
    }
</script>
