﻿@model IEnumerable<HealthProject.Models.UnitParameter>

<h2>Добавление подписки на показатель</h2>

<form method="post">
    <p>
        Показатель с единицами измерения
        @Html.DropDownList("unitParameterId", new SelectList(Model, "Id", "ParameterNameUnitName"))
    </p>
    <p><input type="submit" value="Добавить"></p>
</form>
<a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="AddUnitParameter">Добавить связь показателя с ед. измерения</a>
<a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="AddParameter">Добавить свой показатель</a>
<a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="AddUnit">Добавить свои единицы измерения</a>
