﻿@model IEnumerable<HealthProject.Models.Unit>

<h2>Добавление своего показателя</h2>

<script  type="text/javascript">
    function changeUnitType() {
        if (document.getElementById('systemUnits').checked) {
            document.getElementById('unitName').type = "hidden";
            document.getElementById('unitId').style.visibility = 'visible';
        } else {
            document.getElementById('unitName').type = "text";
            document.getElementById('unitId').style.visibility = 'hidden';
        }
    }
</script>

<script type="text/javascript">
    function checkNames() {
        var parameterName = document.getElementById('parameterName').value;
        var unitName = document.getElementById('unitName').value;
        var isValid = true;
        if (parameterName.trim().length == 0) {
            alert('Показатель не может быть пустым');
            isValid = false;
        }
        if (!document.getElementById('systemUnits').checked && unitName.trim().length == 0) {
            alert('Ед. изм. не могут быть пустыми');
            isValid = false;
        }
        return isValid;
    }
</script>


<form asp-action="AddUnitParameter" asp-controller="Main" method="post" onsubmit="return checkNames()">
    <table>
        <tr>
            <th>Показатель</th>
            <th>Ед. изм.</th>
        </tr>

        <tr>
            <td>
                <input id="parameterName" name="parameterName" type="text" placeholder="показатель" value=""/>
            </td>
            <td>
                <input id="unitName" name="unitName" type="hidden" placeholder="ед. изм." value="" />
                @Html.DropDownList("unitId", new SelectList(Model, "Id", "Name"))
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Добавить" />
            </td>
            <td>
                Встроенные ед. изм.
                <input id="systemUnits" name="systemUnits" type="checkbox" checked="checked" onchange="changeUnitType();" />
            </td>
        </tr>
    </table>
</form>
@* костыль *@
@*<script type="text/javascript">
    document.getElementById('systemUnits').checked = "checked";
</script>*@
