﻿@model HealthProject.Models.TonometerRecord

<form asp-action="ConfirmRecognizedValues" asp-controller="Import" method="post">
    <p style="margin-bottom:8px">Распознаные значения:</p>
    <table>
        <tr>
            <th>Верхнее давление</th>
            <th>Нижнее давление</th>
            <th>Пульс</th>
            <th>Дата</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input type="number" step="any" id="TopPressure" name="TopPressure" value=@Model.TopPressure maxlength="4">
            </td>
            <td>
                <input type="number" step="any" id="LowerPressure" name="LowerPressure" value=@Model.LowerPressure maxlength="4">
            </td>
            <td>
                <input type="number" step="Pulse" id="Pulse" name="Pulse" value=@Model.Pulse maxlength="4">
            </td>
            <td>
                <input id="Date" name="Date" type="datetime-local" value=@Model.Date.ToString("yyyy-MM-ddTHH:mm")>
            </td>
        </tr>
    </table>
    <input type="text" name="PathFile" id="PathFile" value="@Model.PathFile" hidden/>
    <input type="submit" value="Добавить" style="margin-top:5px">
</form>
