﻿@model IEnumerable<HealthProject.MobileModels.UnitParameter>

@Html.ActionLink("Добавить свой показатель", "AddUnitParameter")

<table>
    <tr>
        <th>Показатель</th>
        <th>Действие</th>
    </tr>
    @foreach (var unitParameter in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => unitParameter.ParameterName)
            </td>
            <td>
                @Html.ActionLink(unitParameter.Action, "ChangeSubscribeUserParameter", new { unitParameterId = unitParameter.Id })
            </td>
        </tr>
    }
</table>

@*@using (Html.BeginForm("DeleteUserParameter", "Main", FormMethod.Get))
    {
        @Html.DropDownList("userParameterId", new SelectList(Model, "Id", "UnitParameter.ParameterNameUnitName"))
        <input type="submit" value="Удалить">
    }
    <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="AddUserParameter">Добавить подписку на показатель</a>*@
