﻿@model HealthProject.Models.UserParameter

<h2>Подтверждение удаления</h2>

<form method="post">
    <p>
        Удаляемый показатель: 
        @Html.DisplayFor(model => model.UnitParameter.ParameterNameUnitName)
    </p>

    <input type="submit" value="Удалить">
</form>