﻿@model HealthProject.Models.Token

<h2>Подтверждение отписки от системы</h2>

<form method="post">
    <p>Удаляемый подписка:</p>
    <table>
        <tr>
            <th>Система</th>
            <th>Токен</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(m => m.System.Name)
            </td>
            <td>
                @Html.DisplayFor(m => m.Value)
            </td>
        </tr>
    </table>
    <input type="submit" value="Удалить">
</form>