﻿@model HealthProject.Models.Record

<h2>Подтверждение удаления</h2>

<form method="post">
    <p>Удаляемая запись:</p>
    <table>
        <tr>
            <th>Показатель</th>
            <th>Значение</th>
            <th>Дата</th>
            <th>Источник</th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(m => m.UserParameter.UnitParameter.ParameterNameUnitName)
            </td>
            <td>
                @Html.DisplayFor(m => m.Value)
            </td>
            <td>
                <span>@Model.Date.ToString("F")</span>
            </td>
            <td>
                @Html.DisplayFor(m => m.SystemName)
            </td>
        </tr>
    </table>
    <input id="recordId" name="recordId" type="hidden" value="@Model.Id" />
    <input id="userParameterId" name="userParameterId" type="hidden" value="@Model.UserParameter.Id" />
    <input type="submit" value="Удалить">
</form>