﻿@model HealthProject.Models.Record

<h2>Изменение записи</h2>

<p>Старая запись:</p>
<table>
    <tr>
        <th>Показатель</th>
        <th>Значение</th>
        <th>Дата</th>
        <th>Источник</th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(m => m.UserParameter.UnitParameter.ParameterNameUnitName)
        </td>
        <td>
            @Html.DisplayFor(m => m.Value)
        </td>
        <td>
            <span>@Model.Date.ToString("F")</span>
        </td>
        <td>
            @Html.DisplayFor(m => m.SystemName)
        </td>
    </tr>
</table>

<form method="post">
    <p>Новая запись:</p>
    <table>
        <tr>
            <th>Показатель</th>
            <th>Значение</th>
            <th>Дата</th>
            <th>Источник</th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(m => m.UserParameter.UnitParameter.ParameterNameUnitName)
            </td>
            <td>
                <input type="number" step="any" id="newValue" name="newValue" value=@Model.Value>
            </td>
            <td>
                <input id="newDate" name="newDate" type="datetime-local" value=@Model.Date.ToString("yyyy-MM-ddTHH:mm")>
            </td>
            <td>
                @Html.DisplayFor(m => m.SystemName)
            </td>
        </tr>
    </table>
    <input type="submit" value="Изменить">
</form>