﻿@model IEnumerable<HealthProject.Models.Report>

<style>
    p{
        margin-bottom:0;
        margin-top:10px;
    }
</style>

<form asp-action="ExportReport" asp-controller="Export" method="post">
    <p>Врач</p>
    @Html.DropDownList("reportId", new SelectList(Model, "Id", "Name"))

    <p style="font-weight:bold">Период:</p>
    <p>Начиная с</p>
    <input id="datetimeBegin" name="datetimeBegin" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd") max=@DateTime.Now.ToString("yyyy-MM-dd")>
    <p>Заканчивая</p>
    <input id="datetimeEnd" name="datetimeEnd" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd") @DateTime.Now.ToString("yyyy-MM-dd")>

    <p>Почта для отправки отчета (или несколько через запятую)</p>
    <input type="email" id="emails" name="emails" multiple>

    <input type="submit" value="Отправить">
</form>
    

