﻿@model IEnumerable<HealthProject.Models.UserParameter>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    @using (Html.BeginForm("Export", "Export", FormMethod.Post))
    {
        //Html.ListBox("userParametersId", new SelectList(Model, "Id", "UnitParameter.ParameterNameUnitName"))
        //Html.ListBoxFor(m => m, new SelectList(Model, "Id", "UnitParameter.ParameterNameUnitName"))

        <p>Почта для отправки отчета (или несколько через запятую)</p>
        <input type="email" id="emails" name="emails" multiple>

        <input type="submit" value="Экспортировать">
    }
</body>
</html>

