﻿@Html.ActionLink("Подписки на системы", "Tokens", "Import")
<h3>Импорт из Google Fit</h3>
<p>Выберите файл для загрузки</p>
<form asp-action="GoogleFit" asp-controller="Import" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>
