﻿<h3>Загрузка изображения тонометра</h3>
<p>Выберите файл для загрузки</p>
<form asp-action="LoadPhotoTonometer" asp-controller="Import" method="post" enctype="multipart/form-data" name="myForm">
    <input type="file" name="uploadedFile" id="uploadedFile" />
    <input type="datetime-local" name="dateModification" id="dateModification" hidden>
    <input type="submit" id="loadButton" name="loadButton" value="Загрузить"/>
</form>

<script>
    var loadButton = myForm.loadButton

    function writeDate() {
                
        var fileInput = document.getElementById("uploadedFile");
        var dateField = document.getElementById("dateModification");
        var files = fileInput.files;
        dateField.value = new Date(files[0].lastModifiedDate);
        //for (var i = 0; i < files.length; i++) {          
        //    textField.value = (files[i].name + " has a last modified date of " + files[i].lastModifiedDate);
        //}
    }

    loadButton.addEventListener("click", writeDate);
</script>


