﻿@model IEnumerable<HealthProject.ViewModels.UserParameterModel>

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/plotly.js"></script>
        <script src="~/js/plotly-rus.js"></script>
        <script>Plotly.setPlotConfig({ locale: 'ru' })</script>

    </head>

    <body>
        <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="CRDUsersParameters">Управление подписками на показатели</a>  
        <table>
            <tr>
                <th><h2>Показатель</h2></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var up in Model)
            {
                <tr>
                    <td><h3>@up.UserParameter.UnitParameter.ParameterNameUnitName</h3></td>
                    <td>@Html.ActionLink("Добавить запись", "AddRecord", "Main", new { userParameterId = up.UserParameter.Id })</td>
                    <td>@Html.ActionLink("Подробно", "Records", "Main", new { userParameterId = up.UserParameter.Id })</td>
                    <td>
                        <div id="@up.UserParameter.Id" style="width:600px;height:250px;"></div>
                        <script type="text/javascript">
                            function convertDateToUTC(date) {
                                return new Date(date.getUTCFullYear(), date.getUTCMonth(),
                                    date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(),
                                    date.getUTCSeconds());
                            }
                            function drawPlot() {
                                var records = @Html.Raw(Json.Serialize(up.Records));
                                var dataX = [];
                                var dataY = [];

                                $.each(records, function (i, record) {
                                    dataX.push(new Date(record.date));
                                    dataY.push(record.value);
                                });

                                var data = [
                                    {
                                        x: dataX,
                                        y: dataY,
                                        type: 'scatter',
                                        hoverinfo: 'y',
                                        hovertemplate: 'Дата: %{x|%d %b %Y %H:%M} \nЗначение:%{y:}',
                                        name: ''
                                    }
                                ];

                                var layout = {
                                  title: {
                                    text:'Показатель: @up.UserParameter.UnitParameter.ParameterNameUnitName'
                                  },
                                  xaxis: {
                                    title: {
                                          text: 'Дата'
                                          //,tickformat: '%d %B (%a)\n %Y'
                                    }
                                  },
                                  yaxis: {
                                    title: {
                                      text: 'Значение'
                                    }
                                  }
                                };

                                Plotly.newPlot('@up.UserParameter.Id', data, layout, { scrollZoom: true });
                            }

                            drawPlot();
                        </script>
                    </td>
                </tr>
            }
        </table>
    </body>
</html>

