﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>Заявка на отчет принята</h2>
    <p>По готовности файл будет отправлен адресату(ам)</p>
</body>
</html>

