﻿@model HealthProject.ViewModels.RecordsModel
@using System.Globalization

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/plotly.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/plotly-rus.js"></script>
    <script>Plotly.setPlotConfig({ locale: 'ru' })</script>

</head>

<body>

    <div id="tester"  style="width: 100%; height: 500px;"></div>

    <script type="text/javascript">
        function convertDateToUTC(date) {
            return new Date.UTC(date.getUTCFullYear(), date.getUTCMonth(),
                date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(),
                date.getUTCSeconds());
        }
        function drawPlot() {
            var records = @Html.Raw(Json.Serialize(Model.Records));
            var dataX = [];
            var dataY = [];

            $.each(records, function (i, record) {
                dataX.push(new Date(record.date));
                dataY.push(record.value);
            });

            var data = [
                {
                    x: dataX,
                    y: dataY,
                    type: 'scatter',                    
                    hoverinfo: 'y',
                    hovertemplate: 'Дата: %{x|%d %b %Y %H:%M} \nЗначение:%{y:}',
                    name: ''
                }
            ];

            var layout = {
              title: {
                text:'Показатель: @Model.UserParameter.UnitParameter.ParameterNameUnitName'            
              },
              xaxis: {
                  title: {
                      text: 'Дата'                   
                }
              },
              yaxis: {
                title: {
                  text: 'Значение'                  
                }
              }
            };

            Plotly.newPlot('tester', data, layout, { scrollZoom: true });
        }

        drawPlot();
    </script>

    @*<div id="chart_div" style="width: 100%; height: 500px;"></div>*@

    @Html.ActionLink("Добавить запись", "AddRecord", "Main", new { userParameterId = Model.UserParameter.Id })
    <table>
        <tr>
            <th>Значение</th>
            <th>Дата</th>
            <th>Источник</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Records)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>

                    <span>@item.Date.ToString("f", new CultureInfo( "ru" ))</span>
                    @*@Html.DisplayFor(modelItem => item.Date.ToLocalTime())*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SystemName)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditRecord", new { recordId = item.Id }) |
                    @Html.ActionLink("Удалить", "DeleteRecord", new { recordId = item.Id })
                </td>
            </tr>
        }
    </table>

</body>
</html >

