﻿@model IEnumerable<HealthProject.Models.UnitParameter>


<h2>Каталог показателей с единицами измерений</h2>
<p>
    @Html.ActionLink("Добавить показателей с единицей измерения", "Create")
</p>

<p>
    sdffsdfdfg
    @Html.DropDownList("Показатель", new SelectList(from up in Model select up.Parameter, "Id", "Name"))
</p>
<h2>Каталог показателей с единицами измерений</h2>
<table>
    <tr>
        <th>Показатель</th>
        <th>Ед. измерения</th>
    </tr>

    

    @foreach (var item in Model)
    {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.Parameter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Каталог команд", "ListTeams")
</p>