﻿@model IEnumerable<HealthProject.Models.Token>

@Html.ActionLink("Добавить подписку на систему", "AddToken", "Import")
<table>
    <tr>
        <th>Система</th>
        <th>Токен</th>
        <th></th>
    </tr>

    @foreach (var token in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => token.System.Name)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => token.Value)
            </td>
            <td>             
                @Html.ActionLink("Удалить", "DeleteToken","Import", new { tokenValue = token.Value })
            </td>
        </tr>
    }
</table>

